.table-wrapper{
    margin: 50px;
    margin-bottom: 0;
}

@media screen and (max-width: 500px){
    .table-wrapper{
        margin: 0px;
    }
}

.custom-button{
    padding: 10px;
    border: 1px solid indigo;
    border-radius: 10px;
    color: indigo;
    transition: all .3s ease;
    margin: 10px;
    &:hover{
        background-color: indigo;
        color: white;
    }
}