$color-indigo-300: rgb(165 180 252);
$color-indigo-500: rgb(102, 127, 234);
$color-indigo-600: #4f46e5;
$color-slate-900: rgb(15 23 42);

.today-score{
    margin-top: 50px;
}
.card{
    margin-bottom: 30px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: rgba( 79, 70, 229, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    &__1{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        white-space: nowrap;
        h2{
            border-radius: 5px;
            padding: 5px 10px;
            white-space: nowrap;
        }
        h3{
            border-radius: 5px;
            padding: 5px 10px;
            white-space: nowrap;
            box-shadow: rgba( 79, 70, 229, 0.3) 3px 3px 6px 0px inset, rgba( 79, 70, 229, 0.2) -3px -3px 6px 1px inset; }
    }
    &--2{
        border-left: 2px solid $color-indigo-300;
    }



    @media screen and (max-width:768px){
        display: block;
        &__1{
            width: 100%;
            padding-bottom: 10px;
            border: none;
            justify-content: space-between;
            border-bottom: 2px solid $color-indigo-300;
            h2{
                padding-left: 0;
            }
        }    
        &--2{
            padding-top: 10px;
            border: none;
        }    
    }
    @media screen and (max-width:425px){
        &--2{
            display: block;
            h3{
                text-align: center;
            }
        }    
    }
}